[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
selenium = "*"
beautifulsoup4 = "*"
celery = "*"
django-environ = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"
pycodestyle = "*"

[requires]
python_version = "3.8"
