{% extends "core/base.html" %}

{% block content %}
<div class="container" align="center">
  <div class="mt-5">
    <h2>warrior-related news from around the web</h2>
  </div>
  <table class="table mt-5">
    <tbody>
      <tr>
        <th scope="col">source</th>
        <th scope="col">post title</th>
        <th scope="col">date posted</th>
      </tr>
      {% for item in object_list %}
        <tr>
          <th scope="row">{{ item.original_source }}</th>
          <td><a href="{{ item.source_link }}" target="blank">{{ item.title }}</a></td>
          <td>{{ item.date_posted }}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
  {% if is_paginated %}

  {% if page_obj.has_previous %}
      <a class="btn btn-outline-secondary mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
          <a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
      <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-secondary g-btn mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}

{% endif %}
</div>
{% endblock %}